{% extends "base.html.twig" %}

{% block title %}Kortlek | mvc{% endblock %}

{% block body %}
    <article class="no-flex">
        <h1>Spelarhänder</h1>

{% for playerHand in playerArr %}
        <h2>{{ playerHand.getName() }}</h2>

        <div class="cardContainer">
    {%~ for card in playerHand %}
    <span class="card {{ card.getSuit() }}">{{ card.getHTMLEntity() | raw }}</span>
    {%~ endfor %}
        </div>
{% endfor %}

        <p>Antal kort kvar: {{ count }}</p>

{% if count >= 10 %}
        <p><a href="{{ path('card_deck_deal', {players: 2, num: 5}) }}">Dela fem kort till</a>.</p>
{% endif %}
    </article>
{% endblock %}
