{% extends "base.html.twig" %}

{% block title %}Kortspel 21 | mvc{% endblock %}

{% block body %}
{% set player_name = game.playerName() %}
{% set bank_name = game.bankName() %}
{% set player_hand = game.playerHand() %}
{% set bank_hand = game.bankHand() %}

{%- set cards_left = game.cardsLeft() %}
{% set player_use_chance = game.playerUseChance() %}
{% set players_turn = game.playersTurn() %}
{% set new_round = false %}

{%- set player_points = player_hand.getMaxPoints21() %}
{% set player_chance = game.playerChance() %}
{% set bank_points = bank_hand.getMaxPoints21() %}

    <article class="no-flex">
        <h1>Kortspelet 21</h1>

        <table>
            <tr>
                <th>Omgång</th>
                <th>{{ player_name }}</th>
                <th>Banken</th>
                <th>Kort kvar</th>
            </tr>
            <tr>
                <td>{{ game.round() }}</td>
                <td>{{ game.playerWins() }}</td>
                <td>{{ game.bankWins() }}</td>
                <td>{{ cards_left }}</td>
            </tr>
        </table>

        <p>{{ player_name|last == 's' ? player_name : player_name ~ 's' }} hand:
            (värd {{ game.playerWorth() }})</p>

        <div class="cardContainer">
            {%~ for card in player_hand %}
            <span class="card {{ card.getSuit() }}">{{ card.getHTMLEntity() | raw }}</span>
            {%~ endfor %}
        </div>

{% if not players_turn %}
        <p>{{ bank_name|last == 's' ? bank_name : bank_name ~ 's' }} hand:
            (värd {{ bank_points }})</p>

        <div class="cardContainer">
            {%~ for card in bank_hand %}
            <span class="card {{ card.getSuit() }}">{{ card.getHTMLEntity() | raw }}</span>
            {%~ endfor %}
        </div>
{% endif %}

        <form method="post" action="">
{% if players_turn %}
    {%~ if player_points < 21 %}
        {%~ if cards_left > 2 %}
            <button type="submit" name="new_card">Nytt kort</button>
            <button type="submit" name="stop">Stanna</button>

            {%~ if player_use_chance %}
            <div>
                <meter min="0" max="100" low="33" high="66" optimum="80" title="Chans för ett kort till"
                    value="{{ player_chance[0] }}"></meter>
                <span class="chance-percent">{{ player_chance[0] }} %</span>
            </div>
                {%~ if player_chance[1] >= 0 %}
            <div>
                <meter min="0" max="100" low="33" high="66" optimum="80" title="Chans med ess = 14"
                    value="{{ player_chance[1] }}"></meter>
                <span class="chance-percent">{{ player_chance[1] }} %</span>
            </div>
                {%~ endif %}
            {%~ endif %}
        {%~ else %}
            <p>Bara två kort kvar till banken.</p>
            <button type="submit" name="stop">Bankens spel</button>
        {%~ endif %}
    {%~ elseif player_points == 21 %}
            <p>Bra spelat så långt!</p>
            <button type="submit" name="stop">Bankens spel</button>
    {%~ else %}
            <p>Över 21, bättre lycka nästa gång.</p>

        {%- set new_round = true %}
    {%~ endif %}

{%- else %}
    {%~ if bank_points <= 21 and bank_points >= player_points %}
            <p>Banken vann denna runda. Lycka till nästa gång.</p>
    {%~ else %}
            <p>Bra spelat, en vinst över banken!</p>
    {%~ endif %}

    {%- set new_round = true %}
{%~ endif %}

{%- if new_round %}
    {%~ if cards_left > 3 %}
            <button type="submit" name="next_round">Ny runda</button>
    {%~ else %}
            <p>Spelet är slut, {{ cards_left > 0 ? "bara "}}{{ cards_left }} kort kvar.

        {%~ if game.playerWins() > game.bankWins() %}
            <img class="img-win-21" src="{{ asset('img/partying-face.gif') }}" alt="Partying face" width="60"><br>
            Grattis, total vinst över banken!</p>
        {%~ elseif game.playerWins() == game.bankWins() %}
            <br>Bra jobbat, lika många vinster som banken!</p>
        {%~ else %}
            <br>Tyvärr, banken tog flest rundor den här gången.</p>
        {%~ endif %}

            <button type="submit" name="new_game">Spela igen</button>
    {%~ endif %}
{% endif %}
        </form>
<!-- Show card count for debug purpose -->
{% set card_count = game.cardCount() %}
        <table>
            <caption>Kortfrekvens (antal av valör)</caption>
            <tr>
{% for i in 1..13 %}
                <th>{{ i }}</th>
{% endfor %}
                <th>Totalt</th>
            </tr>
            <tr>
{% for i in 1..13 %}
                <td>{{ card_count[i] }}</td>
{% endfor %}
                <td>{{ card_count[0] }}</td>
            </tr>
        </table> -->
    </article>
{% endblock %}

